<div>
  <mat-nav-list>
    <img
      class="avatar mat-elevation-z8"
      src="assets\images\profile_picture\Amine.png"
    />

    <h4 class="name">Amine MRAIHI</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-button class="menu-button" routerLink="/control">
      <mat-icon>settings</mat-icon>
      <span>control</span>
    </button>

    <mat-divider></mat-divider>
  </mat-nav-list>
</div>
